hr{
  color: rgb(180, 180, 180) !important;
}

.bold-500{
  font-weight: 500;
}

.see-more{
  cursor: pointer;
  text-decoration: underline;
}

.border{
  border: 1px solid red !important;
}

.filter{
  border-bottom: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
}

.filter-menu button{
  font-size: 12px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.55);
  border-radius: 0px;
  border: none;
  border-right: 1px solid rgb(238, 238, 238);
}

.filter-menu .dropdown-menu{
  font-size: 14px;
  margin-top: 10px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgb(221, 221, 221);
}

.filter-menu .dropdown-item{
  background-color: transparent !important;
}

.filter-menu .dropdown-menu label{
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.55);
}

.filter-indikator{
  background-color: rgba(233, 231, 231, 0.151);
}

.filter-indikator .badge{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgba(71, 70, 70, 0.37);
  color: rgb(80, 76, 76);
  font-weight: 100;
}

.dropdown-toggle {
    display: flex!important;
    align-items: center!important;
}

.dropdown-toggle::after {
  margin-left: 5px !important;
}

.card{
  height: 400px !important;
  background-color: #b61818 !important;
  border: none !important;
}

.skeleton-content{
  height: 200px;
  background-color: #eeeeee !important;
}

.skeleton-page-title{
  height: 20px;
  width: 300px !important;
}

.skeleton-page-desc{
  height: 60px;
  width: 600px !important;
}

.navbar-brand img{
  width: 200px;
  padding: 1px;
  margin-right: 100px;
}

.nav-link{
  color: white !important;
  font-size: 14px !important;
}

.nav-link:hover{
  color: #c5a335 !important;
}

.nav-dropdown-custom {
  position: static !important;
}

.nav-dropdown-custom .dropdown-menu{
  border-top: 10px solid #212529;
  border-bottom: 5px solid #c5a335;
  margin-top: -15px !important;
  padding: 30px;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}

.nav-dropdown-custom .dropdown-toggle::after{
    display: none !important;
}

.menu{
    font-weight: bold;
    font-size: 12px;
}

.submenu-border{
    border-right: 1px solid rgba(128, 128, 128, 0.342);
}

.submenu{
    margin-top: -10px;
    font-size: 12px;
}

.submenu li{
    margin-left: -32px;
    margin-top: 5px;
    list-style: none;
}

.submenu li a{
    text-decoration: none;
    color: black;
}

.submenu li a:hover{
    
    color: #d4af36;
}

.banner{
  height: 700px;
  background-color: #ebebeb;
}

.banner-icon{
  font-size: 100px;
  filter: grayscale(100%);
  opacity: 0.1;
}

.swiper-image{
  margin-top: 50px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.category-title{
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.top-product{
  border: 1px solid rgb(218, 218, 218);
  height: 100%;
}

.top-product-title{
  font-weight: 600;
}

.form-subscribe{
  width:100% !important;
  border-radius: 0px !important;
}

.btn-form-subscribe{
  margin-left: -5px !important;
  border-radius: 0px !important;
}

.article-list img{
  height: 300px;
  object-fit: cover;
}

.article-create{
  font-size: 12px;
  color: #8a8989;
}

.article-title{
  font-weight: bold;
  font-size: 18px;
}

.social-icon{
  font-size: 25px;
  margin-right: 14px;
  margin-top: 20px;
}

.content-body{
  margin-top: 75px;
}

.product-list-text{
  font-size: 14px;
  color: #777;
  max-width: 900px;
  margin-bottom: 50px;
}

.overlay-image {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product-list-image:hover .overlay-image {
    opacity: 1;
}

.image-load{
  min-width: 100%;
  min-height: 100px;
}

.image-load-md{
  min-width: 100%;
  min-height: 100px;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

.product-label{
  border-radius: 10px !important;
  padding-left: 10px;
}

.product-label-item{
  font-weight: 500;
  color: #d4af36;
}

.product-label-price{
  color: #d4af36;
}

.product-same-collection img{
  width: 100px;
  margin-right: 20px;
}

.selected-fabric{
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgb(218, 218, 218);
}

.selected-fabric img,.option-fabric img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.wishlist-icon{
  font-size: 25px;
  color: rgb(219, 218, 218);
}

.from {
  left: 0;
  font-size: 10px !important;
}

sub {
    vertical-align: sub !important;
    font-size: smaller !important; /* Adjust font size as needed */
}

.product-title{
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.product-title span{
  text-decoration: none;
  font-weight: 400;
  color: rgb(128, 128, 128);
}

.cart-icon{
  margin-top: 0px;
  display: flex;
}

.cart-icon .badge{
  position: absolute;
  top: -17px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #b39b4c !important;
  font-size: 10px !important;
  width: 20px; 
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 992px) {

  .offcanvas.show:not(.hiding), .offcanvas.showing{
    width: 40%;
  }
  .swiper-image{
      height: 700px;
      object-fit: cover;
  }

  .content-promo-img{
    object-fit: cover;
  }

  .image-load{
    min-width: 100%;
    min-height: 150px;
    object-fit: contain;
  }

  .image-load-md{
  min-width: 100%;
  min-height: 250px;
  }

  .product-label{
    margin-left: 100px;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }

}

.animate-from-right {
  animation: slideFromRight 0.3s ease;
}

.animate-to-right {
  animation: slideToRight 0.3s ease;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.alert-notif{
  color: #ffeeb6 !important;
  margin-right: 10px;
  width: 350px;
  height: 150px;
  margin-top: 75px;
  border-bottom: 5px solid #b39b4c !important;
  background-color: #333333 !important;
}

.alert-notif button{
  border: 1px solid rgb(85, 85, 85);
}

.new-in-store-price{
  color: #d4af36 !important;
}

.about-title{
  margin-top: 150px;
}

.about-body {
  background-image: url('assets/img/layout/about/bg-0005.jpg');
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-story {
  background-image: url('assets/img/layout/about/bg-0004.jpg');
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-adaptation {
  background-image: url('assets/img/layout/about/bg-0007.jpg');
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-justify{
  text-align: justify;
}

.login-image{
  background-image: url('assets/img/layout/login-img.png');
  background-size: cover;
  background-repeat: no-repeat;
}