.navbar-brand img{
  width: 200px;
  padding: 5px;
  margin-right: 100px;
}

.nav-link{
  color: white !important;
  font-size: 14px !important;
}

.swiper-image{
  margin-top: 50px;
  width: 100%;
}

.content-promo-img{
  width: 100%;
}

.form-subscribe{
  width:500px !important;
  border-radius: 0px !important;
}

.btn-form-subscribe{
  margin-left: -5px !important;
  border-radius: 0px !important;
}

.social-icon{
  font-size: 25px;
  margin-right: 14px;
  margin-top: 20px;
}


@media only screen and (min-width: 992px) {
  .swiper-image{
      height: 700px;
      object-fit: cover;
  }

  .content-promo-img{
    object-fit: cover;
  }
}